<html>

<head>
    
    <title> All About Love </title>
    
</head>

<body>
    <h2>Navigation Pane</h2> <h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All About Love</h1>
    <table>
        <tr>
            <td> <a href="index.html">Home </a> </td>
            <tr>
                <td> <a href="Book.html"> Books 
            </tr>
     
            <td> <a href="contact.html" >  </a> </td> 
            <tr>
                <td><a href="Survey.html"> </a>
                    <br><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                    <img src="all_about_love.png" alt="All about love" width="150" height="210"/> 
                    <td>
                         <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All About Love </h3>
                        <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Author: Bell Hooks</h4>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; All About Love: New Visions is a book by bell hooks published in 2000 that <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; discusses aspects of love in modern society. 
                            hooks combines personal anecdotes <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; as well as psychological and philosophical ideas to 
                            develop and strengthen her argument</p>
                        
                        <br> 
                        <br>
                        <br>
                        

                    </td>
                
                
                </td> 
                
            </tr>
            

        </tr>
    </table>
</body>
</html>