<html>

<head>
    
    <title> HandMaid's Tale </title>
    
</head>

<body>
    <h2>Navigation Pane</h2> <h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Handmaid Tale</h1>
    <table>
        <tr>
            <td> <a href="index.html">Home </a> </td>
            <tr>
                <td> <a href="Book.html"> Books 
            </tr>
     
            <td> <a href="contact.html" >  </a> </td> 
            <tr>
                <td><a href="Survey.html"> </a>
                    <br><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                    <img src="Handmaid's_tale.png" alt="The HandMaid's Tale" width="150" height="210"/> 
                    <td>
                         <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The HandMaid's Tale </h3>
                        <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Author: Margaret Atwood</h4>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Handmaid's Tale is a dystopian novel by Canadian author Margaret Atwood, published in 1985. <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; It is set in a near-future New England, in a strongly patriarchal, totalitarian theonomic state, 
                            known as the Republic of Gilead 
                          <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; which has overthrown the United States government</p>
                        
                        <br> 
                        <br>
                        <br>
                        

                    </td>
                
                
                </td> 
                
            </tr>
            

        </tr>
    </table>
</body>
</html>