<html>

<head>
    
    <title> To Kill a Mockingbird </title>
    
</head>

<body>
    <h2>Navigation Pane</h2> <h1>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To Kill a Mockingbird</h1>
    <table>
        <tr>
            <td> <a href="index.html">Home </a> </td>
            <tr>
                <td> <a href="Book.html"> Books 
            </tr>
            <td> <a href="contact.html" >  </a> </td> 
            <tr>
                <td><a href="Survey.html"> </a>

                    <br><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           
                    <img src="how_to_kill_a_mockingbird.png" alt="To Kill a Mockingbird" width="150" height="210"/> 
                    <td>
                         <h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To Kill a Mockingbird </h3>
                        <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Author: Harper Lee</h4>
                        <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To Kill a Mockingbird is a novel by the American author Harper Lee. It was published in 1960 and was instantly successful. <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  In the United States, it is widely read in high schools and middle schools. 
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To Kill a Mockingbird has become a classic of modern American literature, 
                          <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; winning the Pulitzer Prize</p>
                        
                    
                        <br> 
                        <br>
                        <br>
                        

                    </td>
                
                
                </td> 
                
            </tr>
            

        </tr>
    </table>
</body>
</html>